/* content/static/css/custom.css */

/* Link color configuration */
/* Use 'a' or a more specific selector like '.container a' */
a,
a:visited { /* Styles for both default and visited link states */
    color: rgba(12, 205, 76, 0.927);
}

/* Link hover state */
a:hover {
    color: rgb(0, 255, 85); /* Define the hover color here */
} 

aside {
    div {
        padding: 0px;
        padding-top: 40px;
        /* margin: 20px;    */
        img {
            border-radius: 16px;
            max-width: 200px;
            object-fit: cover;
        }
    }
    nav {
        ul {
            li {
                text-transform: None;    
            }
        }
    }
}

.content h1:first-of-type {
    display: none;
}

h1#index {
  display: none;
}

.travel-entry-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 5px; /* Spacing between gallery items */
  margin-bottom: 2em; /* Bottom margin for the gallery container */
  justify-content: space-around; /* Alignment options: center, space-between, etc. */
}

.travel-entry-gallery img {
  max-width: 240px; /* Adjust max-width to control the number of images per row */
  height: auto;  /* Maintain original aspect ratio */
  border-radius: 8px; /* Optional: Rounded corners */
  box-shadow: 2px 2px 5px rgba(0,0,0,0.8); /* Optional: Subtle drop shadow */
  object-fit: cover; /* Scale images to cover the area without distortion */
  aspect-ratio: 3/5; /* Enforce a consistent aspect ratio (e.g., 3/2, 16/9) */
}

/* Responsive adjustments for mobile devices */
@media (max-width: 768px) {
  .travel-entry-gallery img {
    max-width: 45%; /* Display two images per row */
  }
}
@media (max-width: 480px) {
  .travel-entry-gallery img {
    max-width: 90%; /* Display one image per row */
  }
}

/* Show SITETITLE for the sidebar on notes */
aside h1 {
    display: block !important;
    color: rgba(12, 205, 76, 0.927);
}