<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "name": "{{ AUTHOR }}",
  "url": "{{ SITEURL }}",
  "image": "{{ SITELOGO }}",
  "description": "{{ SITEDESCRIPTION }}",
  "jobTitle": "Investigador Doctoral",
  "worksFor": {"@type": "Organization", "name": "CONICET / UNS"},
  "sameAs": [
    "https://www.linkedin.com/in/facu-roffet/",
    "https://github.com/FacuRoffet99",
    "https://scholar.google.com/citations?user=miBMD38AAAAJ",
    "https://orcid.org/0000-0002-7788-4612"
  ]
}
</script>
